/* ------------------ Regular ------------------ */


/* ----- 100 ----- */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: url("font/Roboto-Thin.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 100;
    src: url("font/Roboto-ThinItalic.ttf");
    font-display: swap;
}

/* ----- 100 ----- */

/* ----- 300 ----- */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: url("font/Roboto-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: url("font/Roboto-LightItalic.ttf");
    font-display: swap;
}

/* ----- 300 ----- */

/* ----- 400 ----- */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("./font/Roboto-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: url("./font/Roboto-Italic.ttf");
    font-display: swap;
}

/* ----- 400 ----- */

/* ----- 500 ----- */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url("font/Roboto-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: url("font/Roboto-MediumItalic.ttf");
    font-display: swap;
}

/* ----- 500 ----- */

/* ----- 700 ----- */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("font/Roboto-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: url("font/Roboto-BoldItalic.ttf");
    font-display: swap;
}

/* ----- 700 ----- */

/* ----- 900 ----- */

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    src: url("font/Roboto-Black.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 900;
    src: url("font/Roboto-BlackItalic.ttf");
    font-display: swap;
}

/* ----- 900 ----- */


/* ------------------ Regular ------------------ */


/* ------------------ Monospace ------------------ */


/* ----- 100 ----- */

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 100;
    src: url("font/RobotoMono-Thin.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 100;
    src: url("font/RobotoMono-ThinItalic.ttf");
    font-display: swap;
}

/* ----- 100 ----- */

/* ----- 300 ----- */

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 300;
    src: url("font/RobotoMono-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 300;
    src: url("font/RobotoMono-LightItalic.ttf");
    font-display: swap;
}

/* ----- 300 ----- */

/* ----- 400 ----- */

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 400;
    src: url("font/RobotoMono-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 400;
    src: url("font/RobotoMono-Italic.ttf");
    font-display: swap;
}

/* ----- 400 ----- */

/* ----- 500 ----- */

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 500;
    src: url("./font/RobotoMono-Medium.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 500;
    src: url("font/RobotoMono-MediumItalic.ttf");
    font-display: swap;
}

/* ----- 500 ----- */

/* ----- 600 ----- */

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 600;
    src: url("font/RobotoMono-SemiBold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 600;
    src: url("font/RobotoMono-SemiBoldItalic.ttf");
    font-display: swap;
}

/* ----- 600 ----- */

/* ----- 700 ----- */

@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 700;
    src: url("font/RobotoMono-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Roboto Mono";
    font-style: italic;
    font-weight: 700;
    src: url("font/RobotoMono-BoldItalic.ttf");
    font-display: swap;
}

/* ----- 700 ----- */


/* ------------------ Monospace ------------------ */
